<div class="box-form">
	<div class="left">
		<div class="overlay">
		<h1>Passport Details</h1>
		
		</div>
	</div>
	
		<div class="right">
		<div class="inputs">
			<input type="text" placeholder="user name">
			<br>
			<input type="password" placeholder="last name">
			<br>
			<input type="text" placeholder="Age">
			<br>
			<input type="text" placeholder="address">
			<br>
			<input type="text" placeholder="Phone">
			<br>
			<input type="text" placeholder="Passport Id">
		</div>
			
			<br><br>
			
			<br>
			<button (click)="submitForm()">Verify</button>
	</div>
	
</div>
