<div class="box-form">
	<div class="left">
		<div class="overlay">
		<h1>Passport Details</h1>
		
		</div>
	</div>
	
		<div class="right">
		<div class="inputs">
            <p> First Name: {{details.firstName}}</p>
			<br>
            <p>Last Name: {{details.lastName}}</p>
			<br>
            <p>Age: {{details.age}}</p>
			<br>
            <p>Address: {{details.address}}</p>
			<br>
            <p>Phone: {{details.phone}}</p>
			<br>
            <p>Passport Id: {{details.passportNumber}}</p>
            <br>
            <p>Email: {{details.email}}</p>

		</div>
			
			<br><br>
			
			<br>
			<button (click)="submitForm()">Verify</button>
	</div>
	
</div>
